/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    border-color: #ebccd1;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/* Typography */

body {
  font-family: 'Source Sans Pro';
}

.modal-body.login{
  padding-left: 30px;
  padding-right: 30px;
}

.nav.navbar-nav{
  margin-bottom: -2px;
}
